<table class="table table-striped text-center">
    <thead class="bg-dark text-light">
        <tr>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Product Category</th>
            <th>Product Manufacture</th>
            <th>Product Type</th>
            <th>Product Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of product_details">
            <td>{{product.Product_Code}}</td>
            <td>{{product.Product_Name}}</td>
            <td>{{product.Product_cat}}</td>
            <td>{{product.Product_Manufacture}}</td>
            <td>{{product.Product_type}}</td>
            <td>{{product.Product_status}}</td>
          
        </tr>
    </tbody>
</table>