<div class="mx-auto w-50">
    <div class="nav nav-pills" id="v-pills-tab" role="tablist">
        <a class="nav-link active" data-toggle="pill" href="javascript:void(0);" routerLink="./">Current Orders</a>
        <a class="nav-link" data-toggle="pill" href="javascript:void(0);" routerLink="./new-order">New Order</a>
        <a class="nav-link" data-toggle="pill" href="javascript:void(0);" routerLink="./generate-order">Generate
            Order</a>
    </div>
</div>

<div class="m-3">
    <router-outlet></router-outlet>
</div>