<div class="">
    <div class="row border text-center">
        <div class="col p-2 border" routerLink="./dashboard" routerLinkActive="active">Dashboard</div>
        <div class="col p-2 border" routerLink="./current-orders" routerLinkActive="active">Track Orders</div>
        <div class="col p-2 border" routerLink="./new-order" routerLinkActive="active">Add Items to Order</div>
        <div class="col p-2 border" routerLink="./generate-order" routerLinkActive="active">Review and Confirm Order
        </div>
    </div>
    <router-outlet></router-outlet>
</div>