<div class="row m-3">
    <div class="col-sm-2">
        <div class="border text-center">
            <div class="col p-2 border" routerLink="orders" routerLinkActive="active">Orders</div>
            <div class="col p-2 border" routerLink="products" routerLinkActive="active">Products</div>
            <div class="col p-2 border" routerLink="items" routerLinkActive="active">Items</div>
            <div class="col p-2 border" routerLink="prices" routerLinkActive="active">Prices</div>
            <div class="col p-2 border" routerLink="discounts" routerLinkActive="active">Discounts</div>
        </div>
    </div>
    <div class="col-sm-10">
        <router-outlet></router-outlet>
    </div>
</div>