<div class="row">
    <div class="col-sm-6 mt-3" *ngFor="let item of tables | keyvalue">
        <table class="table table-bordered">
            <thead>
                <tr class="bg-light text-dark">
                    <th class="border-right-0 w-75 p-2" colspan="3">
                        <h4>Last Five {{item.key}}</h4>
                    </th>
                    <th class="border-left-0 text-right w-25">
                        <input type="button" value="View All" class="btn btn-dark">
                    </th>
                </tr>
                <tr>
                    <th class="w-25">S.No.</th>
                    <th class="w-25" *ngFor="let each of item.value[0] | keyvalue">{{each.key}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let val of item.value; let i = index">
                    <td>{{i+1}}</td>
                    <td *ngFor="let eachVal of val | keyvalue">
                        {{eachVal.value | customDate}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>