<div class="m-2">
    <input type="button" value="Logout" class="float-right btn btn-danger p-2" (click)="logout()">
</div>
<div class="row">
    <div class="col-sm-2 list-group p-3 border-right">
        <ul>
            <li class="list-group-item" routerLinkActive="activeRouter" routerLink="/orders">
                <a href="">
                    Orders
                </a>
            </li>
            <li class="list-group-item" routerLinkActive="activeRouter" routerLink="/inventory">
                <a href="">
                    Inventory
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-10">
        <ul class="list-inline text-center m-3">
            <li class="list-inline-item p-0 cursor-pointer btn-light" routerLink="./current-order" routerLinkActive="activeRouter">
                <a href="javascript:void(0);" class="btn p-3">
                    Current Order
                </a>
            </li>
            <li class="list-inline-item p-0 cursor-pointer btn-light" routerLink="./new-order" routerLinkActive="activeRouter">
                <a href="javascript:void(0);" class="btn p-3">
                    New Order
                </a>
            </li>
            <li class="list-inline-item p-0 cursor-pointer btn-light" routerLink="./generate-order" routerLinkActive="activeRouter">
                <a href="javascript:void(0);" class="btn p-3">
                    Generate Order
                </a>
            </li>
        </ul>

        <div class="container p-5">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>