<div class="container">
 
    <form class="form-horizontal">
     
      <div class="form-group">
        <label class="control-label col-sm-2" for="pn">Product Name:</label>
        <div class="col-sm-10">          
          <input type="text" class="form-control" id="pn" placeholder="Enter Product Name" name="pwd">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pc">Product Category:</label>
        <div class="col-sm-10">          
          <input type="text" class="form-control" id="pc" placeholder="Enter Product Category" name="pwd">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4" for="pn">Product Manufacture::</label>
        <div class="col-sm-10">          
          <input type="text" class="form-control" id="pn" placeholder="Enter Product Name" name="pwd">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pm">Product Type</label>
        <div class="col-sm-10">          
          <input type="text" class="form-control" id="pm" placeholder="Enter Product Type" name="pwd">
        </div>
      </div>
      <div class="form-group">
          <label class="control-label col-sm-6" for="ps">Product Status</label>
          <div class="col-sm-10">     
          <select class="form-control">
                <option>Good</option>
                <option>Damaged</option>
                <option>Expired</option>
                <option>Garbage</option>
          </select>
          </div>
      </div>
      
     
      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </div>
    </form>
  </div>
  